# Agent Files
.claude/*
.task/*
.agent/*

/vendor
.env
/storage/app/*
/storage/framework/*
/storage/logs/*
/storage/view/*
/storage/debugbar/*

# Node modules
node_modules
package-lock.json
npm-debug.log*

# PHPUnit cache
.phpunit.cache
